/*  RESET CSS */
/* SELETOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

/* AGRUPAMENTO DE SELETORES */
h1,h2,p{
    color: brown;
}

/* SELETOR DE ELEMENTO DESCENDENTE */
h2 span{
    color: chartreuse;
    font: size 20px;
}

p span{
    color: aquamarine;
    font-size: 15px;
}

/* ID E CLASS */
#exemplo{
    color: aqua;
}
.teste{

    color: yellow;
}

/* SEMELHANÇAS ENTRE ID E CLASS: 
    - SÃO ATRIBUTOS GLOBAIS;
    - OS DOIS SERVER PARA IDENTIFICAR ELEMENTO HTML;
    - NOS DOIS O VALOR É UMA STRING.

    DIFERENÇA ENTRE ID E CLASS: 

    - QUANDO QUERO SELECIONAR SOMENTE UM ELEMENTO ESPECÍFICO, EU USO ID. QUANDO QUERO SELECIONAR VÁRIOS, EU USO CLASS.

    - UM VALOR DE UMA ID NÃO PODE SE REPETIR NA MESMA PÁGINA, JÁ O VALOR DE UMA CLASSE PODE.
    -PARA ESTILIZAR UMA ID EU USO #, UMA CLASSE EU USO . , SEGUIDA DA STRING.
    - UMA ID TEM UMA HIERARQUIA DO EFEITO CASCATA MAIS FORTE QUE UMA CLASSE.


    * STRING É UMA PALAVRA, UM TERMO GENÉRICO, PARAS IDENTIFICAR ELEMENTOS. UMA STRING NÃO PODE TER ACENTO, ESPAÇO, CEDILHA, NEM CARACTERES ESPECIAIS. É CASE-SENSITIVE.

*/